<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="style.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Amazona</title>
</head>
<body>
   <div className="grid_container">
       <header className="row">
<div>
    <a className="BRAND" href="index.html">AMAZONA</a>
</div>
<div>
    <a href="cart.html">cart</a>

    <a href="sign in.html">sign in</a>
</div>
       </header>
       <main>
<div className=" row center">
    <div className="card">
        <a href="product.html">
        <img  className="medium" src="p1.jpg" alt="product"/>
        </a>
<div className="card-body">
    <a href="product.html">
        <h2>
          Nike slim shirts  
        </h2>
    </a>
    <div className="rating"> 
        <span>
            <i className="fa fa-star"></i>
        </span>
        <span>
            <i className="fa fa-star"></i>
        </span>
        <span>
            <i className="fa fa-star"></i>
        </span>
        <span>
            <i className="fa fa-star-half-o"></i>
        </span><span>
            <i className="fa fa-star-o"></i>
        </span>
    </div>
    <div className="price">
$120
    </div>
</div>
 </div><div className="card">
    <a href="product.html">
    <img  className="medium" src="p2.jpg" alt="product"/>
    </a>
<div className="card-body">
<a href="product.html">
    <h2>
      Nike slim shirts  
    </h2>
</a>
<div className="rating"> 
    <span>
        <i className="fa fa-star"></i>
    </span>
    <span>
        <i className="fa fa-star"></i>
    </span>
    <span>
        <i className="fa fa-star"></i>
    </span>
    <span>
        <i className="fa fa-star"></i>
    </span><span>
        <i className="fa fa-star"></i>
    </span>
</div>
<div className="price">
$120
</div>
</div>
</div>
<div className="card">
    <a href="product.html">
    <img  className="medium" src="p3.jpg" alt="product"/>
    </a>
<div className="card-body">
<a href="product.html">
    <h2>
      Nike slim shirts  
    </h2>
</a>
<div className="rating"> 
    <span>
        <i className="fa fa-star"></i>
    </span>
    <span>
        <i className="fa fa-star"></i>
    </span>
    <span>
        <i className="fa fa-star"></i>
    </span>
    <span>
        <i className="fa fa-star"></i>
    </span><span>
        <i className="fa fa-star"></i>
    </span>
</div>
<div className="price">
$120
</div>
</div>
</div>
<div className="card">
    <a href="product.html">
    <img  className="medium" src="p4.jpg" alt="product"/>
    </a>
<div className="card-body">
<a href="product.html">
    <h2>
      Nike slim shirts  
    </h2>
</a>
<div className="rating"> 
    <span>
        <i className="fa fa-star"></i>
    </span>
    <span>
        <i className="fa fa-star"></i>
    </span>
    <span>
        <i className="fa fa-star"></i>
    </span>
    <span>
        <i className="fa fa-star"></i>
    </span><span>
        <i className="fa fa-star"></i>
    </span>
</div>
<div className="price">
$120
</div>
</div>
</div>
<div className="card">
    <a href="product.html">
    <img  className="medium" src="p5.jpg" alt="product"/>
    </a>
<div className="card-body">
<a href="product.html">
    <h2>
      Nike slim shirts  
    </h2>
</a>
<div className="rating"> 
    <span>
        <i className="fa fa-star"></i>
    </span>
    <span>
        <i className="fa fa-star"></i>
    </span>
    <span>
        <i className="fa fa-star"></i>
    </span>
    <span>
        <i className="fa fa-star"></i>
    </span><span>
        <i className="fa fa-star"></i>
    </span>
</div>
<div className="price">
$120
</div>
</div>
</div>
<div className="card">
    <a href="product.html">
    <img  className="medium" src="p6.jpg" alt="product"/>
    </a>
<div className="card-body">
<a href="product.html">
    <h2>
      Nike slim shirts  
    </h2>
</a>
<div className="rating"> 
    <span>
        <i className="fa fa-star"></i>
    </span>
    <span>
        <i className="fa fa-star"></i>
    </span>
    <span>
        <i className="fa fa-star"></i>
    </span>
    <span>
        <i className="fa fa-star"></i>
    </span><span>
        <i className="fa fa-star"></i>
    </span>
</div>
<div className="price">
$120
</div>
</div>
</div>


</div>
       </main>
       <footer className="row center">
All right reserved
       </footer>
       
   </div>

</body>
</html>